.allHeadr {
    margin-top: 150px;
}

.r {
    margin-top: 120px;
}

.r input {
    width: 100%;
    height: 60.83px;
    border: 3px solid#C4C4C4;
    box-sizing: border-box;
    border-radius: 40px;
    padding-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: gray;
}

.r button {
    border: none;
    height: 56px;
    background: #FF008A;
    border-radius: 50px;
    margin-top: 30px;
}

.r h2 {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;

    /* identical to box height */

    color: #000000;


}

.works-all {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;

    color: #FF008A;
    margin-top: 40px;
}

.first-bor {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 210px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 3px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 50px;
}

.works-h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;

    color: #000000;
}

.first-bor span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height */

    color: #000000;


}

.work-genre {
    width: 156.94px;
    height: 36.5px;


    background: #F2F2F2;
    border-radius: 20px;
}

.works-h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;

    color: #000000;
}

.work-genre {
    width: 156.94px;
    height: 36.5px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #7A7A7A;
    padding-top: 7px;

    background: #F2F2F2;
    border-radius: 20px;
}

.work-autor {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    /* identical to box height */

    color: #616161;


}

.work-date {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    /* identical to box height */

    color: #A4A4A4;
}

.work-process {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height */

    color: #1AC23F;
}
