
/* reg */
.reg {
    margin-top: 100px;
    margin-bottom: 200px;
}
.goHome p {

    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;

    /* identical to box height */

    color: #FF008A;



}

.f-reg input {
    padding-left: 30px;
    /* width: 85%; */

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #C4C4C4;
    color: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 40px;
    margin-top: 30px;
}

.f-reg button {
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: 30px;
    color: #FFFFFF;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FF008A;
    border-radius: 40px;
}

.f-reg-p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    margin-top: 43px;
    color: #FF008A;


}

@media (max-width: 767.98px) {
    .f-reg input {
        width: 100%;
    }

}
